@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

/* root change theme*/
:root{
    --color: white;
    --back-color: linear-gradient(152deg, rgba(36,108,226,1) 0%, rgba(88,195,199,1) 43%, rgba(185,76,255,1) 100%);
    --back-colorNote: rgb(50, 91, 142);
    --back-colorHeader:  linear-gradient(152deg, rgba(180,65,116,1) 18%, rgba(43,95,157,1) 86%);
    --back-colorMenu:  rgb(43,95,157);
    --font-colorNote: white;
    --color-buttonNote: white; 
    --color-buttonFooter: white;
    --back-colorForm: linear-gradient(152deg, rgba(43,95,157,1) 14%, rgba(234,117,170,1) 57%);
    --back-colorInfo: white;
}
:root.light{
    --color: black;
    --back-color: linear-gradient(346deg, rgba(170,255,225,1) 6%, rgba(154,254,247,1) 48%, rgba(121,190,255,1) 100%);
    --back-colorNote:yellow; ;
    --back-colorHeader:rgb(142, 248, 236);
    --back-colorMenu:rgb(142, 248, 236);
    --font-colorNote: black;
    --color-buttonNote: black; 
    --color-buttonFooter:black;
    --back-colorForm: linear-gradient(152deg, rgba(218,242,61,0.7553615196078431) 32%, rgba(76,255,248,1) 95%);
    --back-colorInfo: black;
}
*{
    font-family: Roboto;
}
/* css común del doc*/

html, body{
    height: 100%;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    background:var(--back-color) ;
}
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 
.container--full {
    height: 100%;
}
.img{
    width: 110px;
    height: 110px;
    align-items: center;
    border-radius: 30px;
}

.menu-button{
    justify-content: space-between;
    display: block;
    height: 70px;
    align-items: flex-end;
}

.container--spaced {
    gap: 10px;
}  

.container--distributed{
    justify-content: space-between;
}
.containerHeader{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
} 
.title{
    left: 0;
    letter-spacing: 10px;
    text-align: center;
    top: 50%;
    width: 100%;
    color: var(--color);
    font-size: 18px;   
    margin-top: 20px;
}
.form{
    background: var(--back-colorForm);
    display:flex;
    padding: 5px;
    flex-direction: column;
    border: 1px solid rgb(167, 208, 242);
    border-radius: 10px; 
    align-items: center; 
    height: 350px;
    width: 220px;
    justify-content: center;
    text-align: center;
    gap:5px;
}
.form__field{
    display:flex;
    flex-direction: column;
    gap:5px;
}
.input{
    border-radius: 4px;  
    font-size: 14px; 
    width: 210px;
    height: 25px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: transparent;
    margin: 8px 0 4px 0;
    color: rgb(117, 114, 114);  
}
.input::placeholder{
    color: transparent;
}
.input:-webkit-autofill{
    -webkit-background-clip: text;
    -webkit-text-fill-color: black;
}
.input:focus {
    outline: none;
    background-clip:inherit ;
}
.input::selection{
    background-clip: inherit;
    background-color:transparent;
    -webkit-background-clip: text;
}

.button{
    width: 80px;
    height: 25px;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 10px;
    background-color:#67798e;
    color:black;  
    border: none;
}

.main{
    display:flex;
    text-align: center;
    justify-content: center;
    flex-grow: 1;
    overflow: auto;
    padding: 10px;
}

.imgRegister{
    width: 70px;
    height: 70px;
    gap:3px;
}

.anchor{
    left: 20px;
    color:rgb(26, 24, 24);
    font-size: 16px;
    height: 20px;
    text-decoration: none;
}

p{
    width: 100%;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 50px;
}

.transparent-button {
    display: flex;
    background-color: transparent;
    border: none;
    color: var(--color-buttonFooter);
    font-size: 3rem;
    cursor: pointer;
    justify-content: center; 
    align-items: center; 
    padding: 10px;
    
}





